#flex-container {
	display: flex;
	height: 90%;
}

#main-header {
	padding: 18px;
	margin-bottom: 10px;
	display: flex;
}

#brand {
	min-width: 220px;
}

#nav {
	width: 83%;
}

#user-login {
	width: 17%;
	line-height: 26px;
}

#main-sidebar {
	width: 260px;
	margin-right: 10px;
}

#main-container {
	width: 100%;
	overflow: scroll;
}

