body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

#main-header {
	background: #23144D;
	font-size: 1.6em;
	font-weight: 300;
	color: #EEE;
	border-bottom: 3px solid #917CCF;
}

#user-login {
	font-size: 12px;
	text-align: right;
}

#main-sidebar {
	font-weight: 300;
	font-size: 1.1em;
}

#main-sidebar > ul > li {
	padding: 15px;
	border-top: 1px solid #BBB;
	color: #555;
	transition: all 0.5s;
	border-radius: 5px;
}

#main-sidebar > ul > li:hover {
	background-color: #BFF5C7;
}

#main-sidebar > ul > li > a:visited {
	color: #555;
}

.fa {
	padding: 0 16px 0 0;
}

td {
	border-right: 1px solid #DDD;
	padding: 14px;
	background: #FAFAFA;
	text-align: center;
	font-size: 0.9em;
}

th {
	border-right: 1px solid #DDD;
	padding: 10px;
	font-weight: 700;
	font-size: 0.67em;
	width: 140px;
}

select {
	margin: 3px;
}

input {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	width: 60px;
	background: none;
	border: 1px solid rgba(0,0,0,0);
}

input:focus {
	border: 1px solid #CCC;
	border-radius: 4px;
	background: #fff;
}

